* {
    margin: 0;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
body {
    background: #F2F2F2;
    font-family: 'Signika';
}
#c {
    display: block;
    margin: 20px auto 0;
}
#info {
    position: absolute;
    left: -1px;
    top: -1px;
    width: auto;
    max-width: 420px;
    height: auto;
    background-color: #8f1122;
    border-bottom-right-radius: 10px;
    border:1px solid #ccc;
}
#info p{
  color: #ffff;
}
#top {
    background: #fff;
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 1px solid #eee;
}
p {
    font-family: 'Signika';
    color: #666;
    text-align: justify;
    font-size: 16px;
    margin: 0px 16px;
}
.center {
  text-align: center;
}
#net {
  text-align:center;
  white-space:nowrap;
  font-size:19px;
  background:rgba(0,0,0,0.1);
  color: rgb(143, 17, 34);
  padding:8px 12px;
  border-radius:8px;
  display:block;
}
a {
    font-family: 'Signika';
    text-decoration: none;
    font-size: 20px;
    color: white;
}

#top{
  background-color: #8f1122;
}

#close {
    float: right;
    margin: 10px;    
}